<div>
    <h3>
        
        <span>¡ Vamos por esos</span>
        <span class="stand-out"> ${{numberUtils.formatNumber(goal.goalAmount.toString())}} </span>
        <span>para</span>
        <span class="stand-out"> {{goal.name}} </span>
        <span>!</span>
    </h3>
    <span>
        <p>¡A través de tus productos y nuestros rendimientos podremos lograrlo!</p>
        <b>Asocia tus productos o adquiere uno nuevo. <img src="../../../../../assets/screens/objectives/faq.svg"></b>
    </span>
</div>